/* Min Width 1400px */
@media only screen and (min-width:1400px){
    .flight-list .single-flight .flight-details{
        gap: 24px;
        margin-bottom: 0;
    }
}

/* Min Width 1200px */
@media only screen and (min-width:1200px){

    .trv-header.fixed .container{
        max-width: 1280px;
    }
    
}

/* Min Width 992px and Max Width 1199px */
@media only screen and (min-width:992px) and (max-width:1199px){

    .container{
        max-width: 95% !important;
    }

}

/* Min Width 992px */
@media only screen and (min-width:992px){

    .filter-toggle{
        display: none;
    }
}

/* Max Width 1399px */
@media only screen and (max-width:1399px){
    
}

/* Max Width 1199px */
@media only screen and (max-width:1199px){

    .container-right{
        padding-left: 16px;
    }

    .download-content input{
        width: 80%;
    }

    .app-link-btn{
        right: 120px;
    }
}

/* Max Width 1099px */
@media only screen and (max-width:1099px){

    .banner-content{
        width: 55%;
    }

    .banner-content h1{
        font-size: 45px;
    }

    .quick-view-container{
        width: 70%;
    }

    .app-link-btn{
        top: 56px;
    }

}

/* Max Width 1024px */
@media only screen and (max-width:1024px){

    .single-option .option-select-btn h2{
        font-size: 28px;
    }

    .filter-options{
        grid-template-columns: repeat(2,minmax(0,1fr));
        padding: 12px;
        grid-gap: 12px;
    }

    .filter-options .single-option{
        border: 1px solid #e7e7e7;
        border-radius: 8px;
        padding: 12px;
    }

    .filter-options .toggle-airport{
        left: -30px;
    }

    .more-options-wpr .single-option {
        grid-template-columns: 24px 1fr;
        grid-gap: 8px;
        padding: 12px 8px;
    }

    .app-link-btn{
        right: 107px;
    }

    .trv-filter-result-wpr{
        margin-top: 0;
    }

    .flight-list .single-flight .flight-details{
        gap: 32px;
    }

    .prev-day span, .next-day span{
        left: auto;
        right: 0;
    }
}

/* Max Width 991px */

@media only screen and (max-width:991px){

    .filter-toggle{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f3f6fa;
        box-shadow: 0 2px 4px rgb(7 4 146 / 10%), 0 24px 60px rgb(6 47 125 / 5%), 0 12px 24px rgb(27 59 119 / 5%);
        border-radius: 8px;
        padding: 24px 50px;
        margin-bottom: 24px;
        cursor: pointer;
    }

    .filter-toggle i{
        font-size: 20px;
    }

    .sidebar-filter-wpr{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: none;
        justify-content: center;
        align-items: center;
        background-color: rgba(0,0,0,.7);
        margin-top: 0;
        padding: 0;
        z-index: 100;
    }

    .sidebar-filter-wpr.show{
        display: flex;
    }

    .sidebar-filter-widget{
        position: relative;
        width: 80vw;
        height: 80vh;
        background-color: var(--white-color);
        border-radius: 0;
        overflow: scroll;
    }

    .filter-cls{
        position: absolute;
        top: 16px;
        right: 50px;
        font-size: 24px;
        color: var(--primary-color);
        cursor: pointer;
    }

    .flight-list .single-flight .flight-details{
        gap: 42px;
    }

}

/* Max Width 767px */
@media only screen and (max-width:767px){
    
    .container{
        max-width: 95% !important;
    }

    .owl-nav button{
        right: 10px;
    }

    .owl-nav button.owl-prev{
        right: 44px;
    }

    .sec-heading h2{
        max-width: 80%;
    }

    .toolbar-right .login-btn{
        width: 130px;
    }

    .offers-wpr,
    .top-trips-wpr{
        padding: 24px 0 24px 24px;
    }

    .download-content h2{
        font-size: 28px;
    }

    .download-content p{
        font-size: 15px;
        line-height: 20px;
    }

    .app-link-btn{
        position: relative;
        width: 100%;
        top: 0;
        border-radius: 5px;
        margin-top: 16px;
    }

    .offers-sec-heading{
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }

    .route-name h2{
        font-size: 24px;
        text-align: center;
    }

    .flight-category .nav-link{
        padding: 8px;
    }
    
}

/* Max Width 575px */
@media only screen and (max-width:575px){
    
    .form-group.required label{
        text-align: left;
    }

    .login-btn{
        display: none !important;
    }

    .login-btn.btn-sm{
        display: inline-block !important;
        width: 45px;
        height: 45px;
        font-size: 20px;
        text-align: center;
        border-radius: 50%;
        line-height: 40px;
    }

    .social-links{
        text-align: center;
    }

    .copyright p{
        text-align: center;
        margin-top: 16px;
    }

}

/* Max Width 480px */
@media only screen and (max-width:480px){

    .owl-nav button{
        top: 45%;
        right: 0;
        background-color: var(--white-color) !important;
    }

    .owl-nav button.owl-prev{
        right: auto;
        left: -16px;
    }

    .toolbar-right .offer{
        flex-direction: column;
        gap: 8px;
    }

    .offer .content p:last-child{
        display: none;
    }

    .single-option .option-select-btn h2{
        font-size: 24px;
    }

    .single-option .option-select-btn sub{
        font-size: 17px;
    }

    .offer-item .item-content .offer-name{
        font-size: 16px;
    }

    .filter-content .filter-types{
        gap: 16px;
    }

    .flight-list .single-flight .flight-details{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 24px;
    }

    .route-name h2{
        font-size: 20px;
    }

    .flight-category .nav-link p{
        display: none;
    }

    .sidebar-filter-widget{
        width: 90vw;
        height: 90vh;
    }

}

/* Max Width 416px */
@media only screen and (max-width:416px){

    .main-nav .nav-link{
        padding: 12px;
    }

    .main-nav .nav-link p{
        display: none;
    }

    .header-wpr .login-btn.btn-sm {
        width: 40px;
        height: 40px;
        font-size: 18px;
        line-height: 37px;
    }

    .single-option .option-label{
        font-size: 14px;
    }

    .flight-list .single-flight .flight-details{
        gap: 16px;
    }

    .social-login a{
        display: block;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        text-align: center;
        line-height: 55px;
        padding: 0;
    }

    .social-login a p{
        display: none;
    }

}

/* Max Width 390px */
@media only screen and (max-width:390px){

    .filter-options{
        grid-template-columns: 1fr;
    }

    .filter-options .toggle-airport{
        top: -24px;
        left: 50%;
        transform: translateX(-50%) rotate(90deg);
    }

    .flight-list .single-flight .flight-details{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 16px;
        margin-bottom: 16px;
    }
}

/* Max Width 380px */
@media only screen and (max-width:380px){

    .main-nav .nav-link {
        padding: 12px 8px;
    }

    .filter-content .filter-types{
        gap: 8px;
    }

    .booking-filter-wpr .booking-filter-links{
        gap: 16px;
    }

    .booking-filter-links .nav-link i{
        font-size: 32px;
    }
    
}

/* Max Width 360px */
@media only screen and (max-width:360px){
    .filter-types .single-type label{
        font-size: 12px;
        font-weight: var(--font-weight-semi-bold);
    }
}

/* Max Width 320px */
@media only screen and (max-width:320px){

    .logo img{
        max-width: 75px;
        height: 70px;
    }

    .banner-content h1{
        font-size: 28px;
    }

    .banner-content p{
        font-size: 18px;
    }

}