/* Min Width 1400px */
@media only screen and (min-width:1400px){
    
}

/* Min Width 1200px */
@media only screen and (min-width:1200px){

    .trv-header.fixed .container{
        max-width: 1280px;
    }
    
}

/* Min Width 992px and Max Width 1199px */
@media only screen and (min-width:992px) and (max-width:1199px){

    .container{
        max-width: 95% !important;
    }

}

/* Min Width 992px */
@media only screen and (min-width:992px){

    .trv-header.fixed{
        position: fixed;
        background-color: transparent;
        box-shadow: none;
        z-index: 10;
    }

    .hero-banner-wpr .desktop-banner{
        display: block;
    }

    .hero-banner-wpr .mobile-banner{
        display: none !important;
    }

    .header-icon:hover{
        color: var(--white-color);
    }

}

/* Max Width 1399px */
@media only screen and (max-width:1399px){
    
}

/* Max Width 1199px */
@media only screen and (max-width:1199px){

    .container-right{
        padding-left: 16px;
    }

    .download-content input{
        width: 80%;
    }

    .app-link-btn{
        right: 120px;
    }
}

/* Max Width 1099px */
@media only screen and (max-width:1099px){

    .banner-content{
        width: 55%;
    }

    .banner-content h1{
        font-size: 45px;
    }

    .quick-view-container{
        width: 70%;
    }

    .app-link-btn{
        top: 56px;
    }

}

/* Max Width 1024px */
@media only screen and (max-width:1024px){

    .single-option .option-select-btn h2{
        font-size: 28px;
    }

    .filter-options{
        grid-template-columns: repeat(2,minmax(0,1fr));
        padding: 12px;
        grid-gap: 12px;
    }

    .filter-options .single-option{
        border: 1px solid #e7e7e7;
        border-radius: 8px;
        padding: 12px;
    }

    .filter-options .toggle-airport{
        left: -30px;
    }

    .more-options-wpr .single-option {
        grid-template-columns: 24px 1fr;
        grid-gap: 8px;
        padding: 12px 8px;
    }

    .app-link-btn{
        right: 107px;
    }

}

/* Max Width 991px */

@media only screen and (max-width:991px){

    .sec-heading h2{
        font-size: 28px;
    }

    .owl-nav button{
        top: -57px;
    }

    .trv-apps-wpr{
        padding: 32px 16px;
    }

    .download-content h2,
    .offers-sec-heading h2{
        font-size: 32px;
    }

    .download-content > p{
        font-size: 17px;
        margin-bottom: 0;
    }

    .download-content input{
        width: 100%;
    }

    .download-content input::placeholder{
        font-size: 14px;
        font-weight: var(--font-weight-semi-bold);
    }

    .app-link-btn{
        right: 0;
        padding: 0 6px;
    }

    .more-options-wpr{
        width: 100%;
        flex-wrap: nowrap;
        overflow-x: scroll;
    }

    .more-options-wpr::-webkit-scrollbar{
        display: none;
    }

    .more-options-wpr .single-option{
        min-width: max-content;
    }

    .trv-header{
        background-color: var(--white-color);
    }

    .header-wpr{
        align-items: center;
    }

    .nav-left .nav-list{
        display: none;
    }

    .nav-right .nav-list{
        position: fixed;
        left: -250px;
        top: 0;
        width: 250px;
        height: 100vh;
        background-color: var(--white-color);
        z-index: 100;
        transition: all .3s ease-in-out;
    }

    .nav-right .nav-list.show{
        left: 0;
    }

    .nav-right .nav-list li{
        display: block;
    }

    .nav-right .nav-list li a{
        font-size: 16px;
        color: var(--text-color);
        border-bottom: 1px solid rgba(48,48,48,.15);
    }

    .header-icon{
        color: var(--text-color);
    }

    .header-icon span.product-count{
        color: var(--white-color);
        background-color: var(--secondary-color);
    }

    .hero-banner-wpr .banner-item{
        height: auto;
    }

    .hero-banner-wpr .desktop-banner{
        display: none !important;
    }

    .banner-content{
        width: 100%;
        color: var(--white-color);
    }

    .banner-content p{
        color: var(--white-color);
    }

    .categori-details{
        grid-template-columns: 1fr;
    }

}

/* Max Width 767px */
@media only screen and (max-width:767px){
    
    .container{
        max-width: 95% !important;
    }

    .owl-nav button{
        right: 10px;
    }

    .owl-nav button.owl-prev{
        right: 44px;
    }

    .sec-heading h2{
        max-width: 80%;
    }

    .toolbar-right .login-btn{
        width: 130px;
    }

    .offers-wpr,
    .top-trips-wpr{
        padding: 24px 0 24px 24px;
    }

    .download-content h2{
        font-size: 28px;
    }

    .download-content p{
        font-size: 15px;
        line-height: 20px;
    }

    .app-link-btn{
        position: relative;
        width: 100%;
        top: 0;
        border-radius: 5px;
        margin-top: 16px;
    }

    .offers-sec-heading{
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }
    
}

/* Max Width 575px */
@media only screen and (max-width:575px){
    
    .form-group.required label{
        text-align: left;
    }

    .hero-banner-wpr.owl-carousel .owl-dots{
        position: absolute;
        bottom: 24px;
        left: 48%;
        transform: translateX(-48%)
    }

    .hero-banner-wpr.owl-carousel .owl-dot{
        width: 10px;
        height: 10px;
        background: var(--white-color) !important;
    }

    .hero-banner-wpr.owl-carousel .owl-dot.active{
        background: var(--secondary-color) !important;
    }
}

/* Max Width 480px */
@media only screen and (max-width:480px){

    .toolbar-right .offer{
        flex-direction: column;
        gap: 8px;
    }

    .offer .content p:last-child{
        display: none;
    }

    .single-option .option-select-btn h2{
        font-size: 24px;
    }

    .single-option .option-select-btn sub{
        font-size: 17px;
    }

    .offer-item .item-content .offer-name{
        font-size: 16px;
    }

    .filter-content .filter-types{
        gap: 16px;
    }
}

/* Max Width 380px */
@media only screen and (max-width:380px){

    .filter-content .filter-types{
        gap: 8px;
    }

    .filter-options{
        grid-template-columns: 1fr;
    }

    .booking-filter-wpr .booking-filter-links{
        gap: 16px;
    }

    .booking-filter-links .nav-link i{
        font-size: 32px;
    }
    
}

/* Max Width 360px */
@media only screen and (max-width:360px){

}

/* Max Width 320px */
@media only screen and (max-width:320px){

    .logo img{
        max-width: 75px;
        height: 70px;
    }

    .banner-content h1{
        font-size: 28px;
    }

    .banner-content p{
        font-size: 18px;
    }

}